# PostgreSQL
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=app


# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@local.host
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_LISTEN_PORT=8080

# names
PROJECT_NAME=time-track-project
SERVER_NAME=time-track
SERVER_HOST=time-track.com

# Frontend
BACKEND_CORS_ORIGINS=["http://localhost:5000"]